{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9">
					<h1>All Polls</h1>
				</div>
				<div class="col-md-3">
					<a href="/polls/new" class="btn btn-primary mt-2 float-right">Create Poll</a>
				</div>
			</div>
			<hr>
			<div class="row">
				{% for poll in polls %}
				<div class="col-md-4">
					<h3>{{ poll.question }}</h3>
					<a href="/polls/user/{{ poll.user._id }}" class="mb-1">{{ poll.user.name }}</a>

					<!-- VOTING -->
					<div class="mb-2">
						{% for result in poll.results %}
						{{ result.option }} ({{ result.votes }})<br>
						{% endfor %}
					</div>
					<a href="/polls/{{ poll.id }}" class="btn btn-primary">View</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Use this to insert JS into a page -->
<!-- Important to put JS here so that JQUERY is available to the page -->
{% endblock %}
