{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ poll.question }}</h1>
            <hr>
            <!-- CHART -->
            <div class="row">
                <div class="col-md-4">
                    <canvas id="myChart" class="mb-3"></canvas>
                </div>
                <!-- OPTIONS -->
                <div class="offset-md-1 col-md-7">
                    <h4>Cast Your Vote</h4>
                    <table class="table mt-3">
                        <tbody>
                            {% for result in poll.results %}
                            <tr>
                                <td>{{ result.option }}</td>
                                <td>{{ result.votes }}</td>
                                <td>
                                    <form role="form" action="/polls/vote/{{ poll.id }}" method="post" class="pull-right">
                                        <input type="text" name="optionId" value="{{ result._id }}" class="hidden-xs-up">
                                        <button type="submit" name="submit" class="btn btn-primary">Vote</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addAnOption"><i class="fa fa-plus mr-1"></i>Add an Option</button>
                    <a href="http://www.twitter.com/share?url={{ config.BASE_URL }}/polls/{{ poll.id }}" target="_blank" class="btn btn-primary"><i class="fa fa-twitter mr-1"></i>Tweet</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAnOption" tabindex="-1" role="dialog" aria-labelledby="addAnOption" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add an Option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action="/polls/{{ poll.id }}" method="post">
                    <div class="options">
                        <label for="name">Add an option</label>
                        <div class="form-group">
                            <input type="text" name="option" value="" placeholder="Ex. Cat" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="form-control btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
// Define our polls results object in a nasty nunjucks hack
var data = {{ poll | dump | safe }}.results;
console.log(data);

// Some ugly ass JS to create random colors
var backgroundColors = [];
Object.keys(data).forEach(function(){
    backgroundColors.push(createHex());
});

function createHex() {
    return '#' + Math.floor(Math.random() * 16777215).toString(16);
}

// Create our data
var labels = [];
data.forEach(function(e){
    labels.push(e.option);
});

var votes = [];
data.forEach(function(e){
    votes.push(e.votes);
});

// This creates the chart and pushes it to the myChart canvas
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: 'votes',
            data: votes,
            backgroundColor: backgroundColors
        }]
    }
});
</script>
<!-- Use this to insert JS into a page -->
<!-- Important to put JS here so that JQUERY is available to the page -->
{% endblock %}
