{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ poll.question }}</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a href="http://www.twitter.com/share?url=https://polls.gjrevans.com/polls/{{ poll.id }}" class="btn btn-primary btn-sm"><i class="fa fa-twitter mr-1"></i>Tweet</a>
                    </div>
                    <div class="pull-left">
                        <a href="/polls/user/{{ poll.user._id }}" class="mb-1">{{ poll.user.name }}</a>
                    </div>
                </div>
            </div>
            <hr>
            <!-- CHART -->
            <div class="row">
                <div class="col-md-4">
                    <canvas id="myChart"></canvas>
                </div>
                <!-- OPTIONS -->
                <div class="col-md-8">
                    <h4>Cast Your Vote</h4>
                    <!-- VOTING -->
                    <div class="row">
                        {% for result in poll.results %}
                        <div class="col-md-9">
                            {{ result.option }} ({{ result.votes }})
                        </div>
                        <div class="col-md-3 mb-2">
                            <form role "form" action="/polls/vote/{{ poll.id }}" method="post" class="pull-right">
                                <input type="text" name="optionId" value="{{ result._id }}" class="hidden-xs-up">
                                <button type="submit" name="submit" class="btn btn-primary">Vote</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
// Define our polls results object in a nasty nunjucks hack
var data = {{ poll | dump | safe }}.results;
console.log(data);

// Some ugly ass JS to create random colors
var backgroundColors = [];
Object.keys(data).forEach(function(){
    backgroundColors.push(createHex());
});

function createHex() {
    return '#' + Math.floor(Math.random() * 16777215).toString(16);
}

// Create our data
var labels = [];
data.forEach(function(e){
    labels.push(e.option);
});

var votes = [];
data.forEach(function(e){
    votes.push(e.votes);
});

// This creates the chart and pushes it to the myChart canvas
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: 'votes',
            data: votes,
            backgroundColor: backgroundColors
        }]
    }
});
</script>
<!-- Use this to insert JS into a page -->
<!-- Important to put JS here so that JQUERY is available to the page -->
{% endblock %}
