{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9">
					<h1>All My Polls</h1>
				</div>
			</div>
			<hr>
			<div class="row">
				{% if polls.length == 0 %}
				<div class="col-md-12 text-center">
					<p>There are no polls here...</p>
				</div>
				{% endif %}

				{% for poll in polls %}
				<div class="col-md-4">
					<h3>{{ poll.question }}</h3>
					<!-- VOTING -->
					<div class="mb-2">
						{% for result in poll.results %}
						{{ result.option }} ({{ result.votes }})<br>
						{% endfor %}
					</div>
					<a href="/polls/{{ poll.id }}" class="btn btn-primary">View</a>
					{% if user.id == poll.user._id %}
					<form role "form" action="/polls/delete/{{ poll.id }}" method="post" class="d-inline">
						<button type="submit" name="submit" class="btn btn-danger">Delete</button>
					</form>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Use this to insert JS into a page -->
<!-- Important to put JS here so that JQUERY is available to the page -->
{% endblock %}
