{% if errorMessages.length %}
    <div class="alert alert-danger">
        {% for error in errorMessages %}{{ error.msg or error }}{% if loop.index < errorMessages.length %}, {% endif %}{% endfor %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close"><i class="fa fa-times"></i></a>
    </div>
{% endif %}

{% if successMessages.length %}
    <div class="alert alert-success">
        {% for message in successMessages %}{{ message }}{% if loop.index < successMessages.length %}, {% endif %}{% endfor %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close"><i class="fa fa-times"></i></a>
    </div>
{% endif %}
