{% if errors %}
    <div class="alert alert-danger">
        {% for error in errors %}{{ error.msg }}{% if loop.index < errors.length %}, {% endif %}{% endfor %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close"><i class="fa fa-times"></i></a>
    </div>
{% endif %}

{% if error.length %}
    <div class="alert alert-danger">
        {{ error }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close"><i class="fa fa-times"></i></a>
    </div>
{% endif %}

{% if error_msg.length %}
    <div class="alert alert-danger">
        {{ error_msg }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close"><i class="fa fa-times"></i></a>
    </div>
{% endif %}

{% if success_msg.length %}
    <div class="alert alert-success">
        {{ success_msg }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close"><i class="fa fa-times"></i></a>
    </div>
{% endif %}
