{% extends "layouts/default.html" %}

{% block content %}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-12">
			<h3>Page Title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis purus, tempus quis dui non, ullamcorper facilisis dolor. Nulla odio tortor, eleifend nec justo non, semper sagittis risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut porttitor lacus sodales sem scelerisque, cursus sagittis massa posuere. In eget bibendum diam, non blandit ligula. Pellentesque dignissim mattis mauris sed interdum. Praesent mi mauris, auctor et nibh vitae, varius mollis felis. Donec placerat auctor nisl, at gravida orci feugiat a. Quisque ornare erat luctus urna rutrum finibus. Sed auctor, nisi vitae iaculis commodo, augue nunc viverra diam, eu iaculis massa justo non diam.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Use this to insert JS into a page -->
<!-- Important to put JS here so that JQUERY is available to the page -->
{% endblock %}
